{% extends "base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <h1>An unexpected error has occurred</h1>                                     
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
            <p>The administrator has been notified. Sorry for the inconvenience!</p> 
            <p>Return to <a href="{{ url_for('home') }}">home page</a>.</p>                                      
        </div>
    </div> 
{% endblock %}