{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
               <div class="scrollable">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                            <h1>GoodMail</h1>    
                        </div>                                    
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-12 col-xl-12">
                            <p>
                                You open your Gmail and scan through for anything useful today. You open a few and maybe respond to their call.   
                                The rest? Usual garbage. You'd almost have said "I don't have time for that".                               
                            </p>
                            <p>
                                Statistical fact: You never read most emails in your inbox.
                            </p>
                            <p>
                                You'll never open them even.
                            </p>
                        </div>
                    </div>     
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-12 col-xl-12">
                            <img class="img-fluid" style="max-width: 100%; height: auto;" src="{{ url_for('static', filename = 'img/email inbox.jpg') }}" alt="Landing Page">
                        </div>
                    </div>     
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-12 col-xl-12">
                            <p>
                                That's true for everyone else too. In fact, for the vast majority of people, more than 90% of emails are 
                                completely unopened, and they're not planning to. Emails we open and respond to are of things we truly mind. 
                                And that's okay, because we can't make time for everything.
                            </p>
                            <p>
                                Goodmail engine learns and understands who truly minds you, your blog and topic, and delivers your 
                                content to them rather than them needing to first find you and/or sign up.
                            </p>
                        </div>
                    </div>     
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-12 col-xl-12">
                            <img class="img-fluid" style="max-width: 100%; height: auto;" src="{{ url_for('static', filename = 'img/read blog.jpg') }}" alt="Landing Page">
                        </div>
                    </div>   
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-12 col-xl-12">
                            <p>
                                To put it simply, we take your blog to the inboxes of those who'd happily come to you. 
                                To those who'd open, and respond.
                            </p>
                            <p>
                                Register your blog today. It's free, you pay for results and stay by will.
                            </p>
                        </div>
                    </div>                                            
               </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">             
                <div class="fixed">
                    <!-- Display Flash Messages Here -->
                    {% include '_flash_message.html' %}
                    
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-form">

                        <!-- Home Form -->
                        {{ wtf.quick_form(form) }}
                    </div> 
                </div>
            </div>
        </div>    
{% endblock %}